header {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    color: rgb(0, 0, 0);
}

.header-right {
    display: flex;
    align-items: center;
    gap: 0;
}

header nav {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

header figure {
    margin: 0;
    display: flex;
    align-items: center;
}

.shopping-cart-icon {
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.cabeçalho_texto {
    background-color: green;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'New Spirit', serif;
}

.cabeçalho_texto p {
    text-align: center;
    margin: 0;
    padding: 40px;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.cabeçalho_texto h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 150px;
}

.layout_branco {
    width: 100%;
    height: 750px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.layout_branco h6 {
    align-self: flex-start;
    margin-top: 120px;
    font-size: 10px;
    width: 100%;
    text-align: left;
}

.layout_branco p {
    text-align: justify;
    font-size: 46.5px;
}

.fonte-principal-index {
    font-family: 'New Spirit', serif;
    font-style: normal;
    font-weight: 300;
    margin: 0%;
}

.layout_branco-conteudo {
    width: 820px;
    height: 600px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.botao-comece {
    align-self: flex-start;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'New Spirit', serif;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    justify-self: left
}

.botao-comece:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.layout_preto {
    margin-top: 80px;
    width: 100%;
    height: 800px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-Regular.woff2') format('woff2'),
        url('../fonts/NewSpirit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-Bold.woff2') format('woff2'),
        url('../fonts/NewSpirit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit Condensed';
    src: url('../fonts/NewSpirit-RegularCondensed.woff2') format('woff2'),
        url('../fonts/NewSpirit-RegularCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit Light Condensed';
    src: url('../fonts/NewSpirit-LightCondensed.woff2') format('woff2'),
        url('../fonts/NewSpirit-LightCondensed.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-Medium.woff2') format('woff2'),
        url('../fonts/NewSpirit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'New Spirit';
    src: url('../fonts/NewSpirit-SemiBold.woff2') format('woff2'),
        url('../fonts/NewSpirit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.parte_4 {
    background-color: rgb(150, 145, 123);
    position: absolute;
    left: 0;
    right: 0;
}

.div_1-parte_4 {
    padding-left: 5%;
}

.div_1-parte_4 > p {
    font-size: 30px;
}

.div_1-parte_4 {
    width: 40%;
    height: 8%;
}